body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #333;
  background: #fff;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Roboto", sans-serif;
}

nav#main_app_nav {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  margin: 0 0 2rem;
}
nav#main_app_nav .innerWrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  nav#main_app_nav .innerWrapper {
    padding: 0 15px;
  }
}
nav#main_app_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav#main_app_nav ul li {
  display: inline-block;
}
nav#main_app_nav ul li a,
nav#main_app_nav ul li a:visited {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}
nav#main_app_nav ul li a:hover {
  background: #efefef;
}

#main_app_pages_container .innerWrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #main_app_pages_container .innerWrapper {
    padding: 0 15px;
  }
}

.TicTacToe--Board {
  margin: 0.5rem 0;
}
.TicTacToe--Board .TicTacToe--InnerBoardWrapper {
  display: flex;
  max-width: 300px;
  flex-flow: row wrap;
  border: solid 1px #333;
}
.TicTacToe--Board .TicTacToe--InnerBoardWrapper .TicTacToe--Square {
  border: solid 1px #333;
  width: 33%;
  width: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 3ch;
  cursor: pointer;
  color: #fff;
}
.TicTacToe--Board .TicTacToe--InnerBoardWrapper .TicTacToe--Square[data-val=X] {
  background: #353463;
}
.TicTacToe--Board .TicTacToe--InnerBoardWrapper .TicTacToe--Square[data-val=Y] {
  background: #a91f2e;
}

ul.TicTacToe--movesHistory {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.TicTacToe--movesHistory li {
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
  display: inline-block;
}
ul.TicTacToe--movesHistory li.X {
  background: #353463;
}
ul.TicTacToe--movesHistory li.Y {
  background: #a91f2e;
}

footer#main_app_footer {
  background: #efefef;
  font-size: 0.8rem;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer#main_app_footer p {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
}